# Basic List Operation

In [1]:
list=[1,2,3,4,5]
print(list)
list.append(6)
print (list)
list.remove(4)
print(list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6]

# Slicing and Indexing

In [5]:
number=[10,25,30,44,50]
print(number[2])

30

# Dictionary

In [15]:
info ={
    "name":"Azhar",
    "age":23,
    "city":"London"}
print(info)
info["country"]="UK"
print(info)

{'name': 'Azhar', 'age': 23, 'city': 'London'}
{'name': 'Azhar', 'age': 23, 'city': 'London', 'country': 'UK'}

# Accessing and Modifying

In [16]:
print(info["age"])
info["age"]=25
print(info["age"])

23
25

# Basic Set Operations

In [20]:
number={1,2,3,4,5}
print(number)
number.add(6)
print(number)
number.remove(3)
print(number)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

# Set Operations

In [21]:
a={1,2,3}
b={3,4,5}
c=a|b
print(c)
c=a&b
print(c)

{1, 2, 3, 4, 5}
{3}

# Basic Tupil Operation

In [23]:
a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

Tuples are immutable in Python, meaning their elements cannot be changed, added, or removed after creation.

# Tuple Unpacking

In [24]:
a=(10,20)
x,y,=a
print(x)
print(y)

10
20

# Basic IF, IF-Else and IF ELIF ELSE Statements

In [25]:
a=0
if a>=0:
    print("the integer is positive")

the integer is positive

In [28]:
x=-1
if x>=0:
    print("the integer is positive")
else:
    print("the integer is negative")

the integer is negative

In [29]:
a=80
if (a>=90):
    print("you got A grade in the exam")
elif (a>=80 and a<=89):
    print("you got B grade in the exam")
elif (a>=70 and a<=79):
    print("you got C grade in the exam")
elif (a>=60 and a<=69):
    print("you got D grade in the exam")
else:
    print("you failed in the exam")

you got B grade in the exam